html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: "SourceSansPro";
}

:root {
  --fc-today-bg-color: #f5f6fa !important;
}

.fc-timegrid-slot {
  height: 50px !important;
}
